/*這編寫變數設定*/

//數值 8px
$num: 8px;


/*font*/
$font-family: 'Noto Sans TC', sans-serif;
$line-height: 1.5;

/*color*/
$color1: #AA0601;
$color2: #fff;
$color3: #000;
$color1-2: #DE706D;

$bgcolor1: #FBF2F2;

//font-weight
$font-weightl: 900;
$font-weightm: 600;
$font-weightr: 400;



/*space*/
$padding-spaces: 0 16px;

